# Ignore all files/folders in same directory as .gitignore
/*

# Track gitignore
!.gitignore

# Track specific files
!.bashrc
!.platforms/
!.install
!.installers/
!.gitconfig
!.vimrc
!.vim
!.tmux.conf
!/.commonrc

# Ignore installed vim plugins
.vim/plugged/
.vim/autoload/

# Ignore vim's .netrwhist
.vim/.netrwhist
