# Source if exists
sourceif() {
    [ -f "$1" ] && source $@
}

# Source work commonrc if it exists
sourceif dotfiles-work/.commonrc

# Aliases
alias agent="eval $(ssh-agent)"
alias git2="git add -A && git commit"
alias git3="git add -A && git commit && git push"
alias ll="ls -AlF"
alias la='ls -a'
alias l="ls -l"
alias diff="diff --color"
alias uninstall-from-manifest="cat install_manifest.txt  | sed 's/^..*$/\"&\"/' | sudo xargs rm"
alias k="kubectl"
alias kx="kubectx"
alias cm="chezmoi"

activate() {
    source venv/bin/activate &> /dev/null ||
    source env/bin/activate &> /dev/null ||
    echo >&2 "neither venv/bin/activate or env/bin/activate found"
}

# Make directory and cd into it
mkdire() {
    mkdir $1 && cd $_
}

# lazyload a command when it is used
# Arg 1: bash function with initialization code to lazy-load
# Other args: Commands that should trigger the initialization code
lazyload() {

    INIT_CMD=$1
    shift

    CMD_LIST="$@"

    for i in "$@"; do
        alias ${i}="unalias ${CMD_LIST[@]}; ${INIT_CMD}; ${i}"
    done
}

# Set Bat theme (used for fzf code highlighting"
export BAT_THEME="Nord"

# Use neovim if installed
if command -v nvim &> /dev/null
then
    alias vim=nvim
    alias vvim=/usr/bin/vim
    export EDITOR=nvim
else
    export EDITOR=vim
fi

init_pyenv() {
    export PYENV_ROOT="$HOME/.pyenv"
    export PATH="$PYENV_ROOT/bin:$PATH"
    eval "$(pyenv init --path)"
    eval "$(pyenv init -)"
    export PYENV_VIRTUALENV_DISABLE_PROMPT=1 # Needed for pyenv 2.0.7
}

# Lazyload pyenv if installed
if [ -x "$HOME/.pyenv/bin/pyenv" ]; then
    lazyload init_pyenv pyenv
fi

# Add user scripts in ~/.local/bin to path
export PATH="$HOME/.local/bin:$PATH"

# Start ssh agent
eval $(ssh-agent &> /dev/null)

# Enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# Enable gcc colors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

{{- if eq .chezmoi.os "darwin" }}

# macOS: re-alias ls commands to use the G flag for color output
alias ll="ls -GAlF"
alias la='ls -Ga'
alias l="ls -Gl"
alias ls="ls -G"

# macOS: diff --color not supported, use colordiff if available
if command -v colordiff &> /dev/null
then
    alias diff=colordiff
else
    alias diff=diff
fi

# iPython convenient alias
alias ipython="python3 -m IPython"

{{- end }}

{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

# WSL: Windows clipboard copy and paste
alias wclip=clip.exe
alias wpaste="powershell.exe Get-Clipboard"
alias ollama=ollama.exe

# WSL: XMing startup and stop commands
export XMING_PATH='C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Xming\Xming.lnk'
xming_usage() {
	echo "usage: xming start|stop|status"
	echo "Starts/stops/reports status of the xming daemon on the host windows machine."
}
xming() {
	if [[ $# -ne 1 ]]; then
		xming_usage
	elif [[ $1 == "start" ]]; then
		if [[ -n $DISPLAY ]]; then
			echo "xming is already running."
			return 2
		else
			powershell.exe "& '${XMING_PATH}' -multiwindow -clipboard -ac"
			export DISPLAY=$(cat /etc/resolv.conf | grep nameserver | awk '{print $2; exit;}'):0
		fi
	elif [[ $1 == "stop" ]]; then
		if [[ -n $DISPLAY ]]; then
			powershell.exe "Get-Process -Name XMing |Stop-Process"
			export DISPLAY=""
		else
			echo "xming is not running."
			return 3
		fi
	elif [[ $1 == "status" ]]; then
		if [[ -n $DISPLAY ]]; then
			echo "xming is running. DISPLAY=$DISPLAY"
		else
			echo "xming is not running."
		fi
	else
		xming_usage
		return 1
	fi
}

# WSL: Change other-writable directories to orange instead of green-highlighted
LS_COLORS=$LS_COLORS'ow=33:'

# WSL: beep via powershell
_beep() {
    powershell.exe "[console]::beep($1,$2)"
}
alias beep="_beep 1800 300"

if ! [ -n $BASH ]; then
    case "$TERM" in
    xterm*|rxvt*)
        PS1="\[\e]0;${debian_chroot:+($debian_chroot)}\u@\h: \w\a\]$PS1"
        ;;
    *)
        ;;
    esac
fi

alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
    debian_chroot=$(cat /etc/debian_chroot)
fi

case "$TERM" in
    xterm-color|*-256color) color_prompt=yes;;
esac

{{- end }}

# Initialize environment for Rust if installed
if [ -f "$HOME/.cargo/env" ]; then
    . "$HOME/.cargo/env"
fi

# Make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# Lazy load nvm
init_nvm() {
    export NVM_DIR="$HOME/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
    [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
}
lazyload init_nvm nvm npm node npx
